{% if show_all %}<option value="">— Todos —</option>{% endif %}
<option value="1"  data-mes="1"  {% if mes_sel == "1"  or mes_sel == 1  %}selected{% endif %}>Janeiro</option>
<option value="2"  data-mes="2"  {% if mes_sel == "2"  or mes_sel == 2  %}selected{% endif %}>Fevereiro</option>
<option value="3"  data-mes="3"  {% if mes_sel == "3"  or mes_sel == 3  %}selected{% endif %}>Março</option>
<option value="4"  data-mes="4"  {% if mes_sel == "4"  or mes_sel == 4  %}selected{% endif %}>Abril</option>
<option value="5"  data-mes="5"  {% if mes_sel == "5"  or mes_sel == 5  %}selected{% endif %}>Maio</option>
<option value="6"  data-mes="6"  {% if mes_sel == "6"  or mes_sel == 6  %}selected{% endif %}>Junho</option>
<option value="7"  data-mes="7"  {% if mes_sel == "7"  or mes_sel == 7  %}selected{% endif %}>Julho</option>
<option value="8"  data-mes="8"  {% if mes_sel == "8"  or mes_sel == 8  %}selected{% endif %}>Agosto</option>
<option value="9"  data-mes="9"  {% if mes_sel == "9"  or mes_sel == 9  %}selected{% endif %}>Setembro</option>
<option value="10" data-mes="10" {% if mes_sel == "10" or mes_sel == 10 %}selected{% endif %}>Outubro</option>
<option value="11" data-mes="11" {% if mes_sel == "11" or mes_sel == 11 %}selected{% endif %}>Novembro</option>
<option value="12" data-mes="12" {% if mes_sel == "12" or mes_sel == 12 %}selected{% endif %}>Dezembro</option>
